In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Rikitea,PF,79.00,few clouds,-23.1203,-134.9692,People ThankYou
1,6,Mareeba,AU,83.44,broken clouds,-17.0000,145.4333,Trinity Plains Tourist Park
2,8,Kapaa,US,79.20,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,10,Alice Springs,AU,83.75,clear sky,-23.7000,133.8833,Desert Palms Alice Springs
4,11,Port-Gentil,GA,79.72,scattered clouds,-0.7193,8.7815,Fengshui Residence

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0   -23.1203 -134.9692
1   -17.0000  145.4333
2    22.0752 -159.3190
3   -23.7000  133.8833
4    -0.7193    8.7815
..       ...       ...
148   4.8845   -1.7554
149   7.7061  122.1353
150 -23.8650   35.3833
151   5.6592  -53.7767
152   3.8653  -67.9239

[153 rows x 2 columns]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Camocim"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Camocim"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Acarau"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Touros"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Cabedelo"]

In [6]:
start = vacation_start.to_numpy()[0][5:7]
end = vacation_end.to_numpy()[0][5:7]
stop1 = vacation_stop1.to_numpy()[0][5:7]
stop2 = vacation_stop2.to_numpy()[0][5:7]
stop3 = vacation_stop3.to_numpy()[0][5:7]

In [7]:
# start = vacation_start[["Lat","Lng"]].to_numpy()[0]
# end = vacation_end[["Lat","Lng"]].to_numpy()[0]
# stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
# stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
# stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]

In [8]:
  vacation_start[["Lat"]]

        Lat
101 -2.9022

In [9]:
# # 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# start = vacation_start[["Lat", "Lng"]].to_numpy()
# start1 = (start[0][0],start[0][1])
# end = vacation_end[["Lat", "Lng"]].to_numpy()
# end1 = (end[0][0],end[0][1])
# stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
# stop1u = (stop1[0][0],stop1[0][1])
# stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
# stop2u = (stop2[0][0],stop2[0][1])
# stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()
# stop3u = (stop3[0][0],stop3[0][1])
# print(start1)
# print(end1)
# print(stop1u)
# print(stop2u)
# print(type(stop3u))

In [10]:
print(start)

[-2.9022 -40.8411]

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,442,Camocim,BR,77.63,clear sky,-2.9022,-40.8411,Ilha Praia Hotel
1,439,Acarau,BR,79.12,clear sky,-2.8856,-40.1200,castelo pizzaria
2,285,Touros,BR,79.70,few clouds,-5.1989,-35.4608,INN NEW HORIZON
3,53,Cabedelo,BR,79.47,clear sky,-6.9811,-34.8339,Hotel Pigalle

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))